__pycache__/
*.pyc
*.pyo

or_task2/
venv/
env/

train2020/
val_test2020/
mask_train/
mask_train_all/
mask_train_incorrectas/
mask_val/
generated/

*.pth
*.pt
*.ckpt
*.h5
*.onnx
*.zip
*.deb

instances_attributes_train2020.json